@model AutoDem.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<style>
    .form-control {
        display: inline-block;
    }
    </style>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<div class="gtco-loader"></div>

<div id="page">

    <div class="page-inner">


        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/images/img_bg_3.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                        <h1>Get <strong>In Touch</strong></h1>
                        <h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
                    </div>
                </div>
            </div>
        </header>
        <div class="gtco-section gtco-gray-bg">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 animate-box">
                            <h3>Напишіть нам</h3>
                            @using (Ajax.BeginForm("Contact", "Home", null, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "myForm",
                                OnBegin = "OnBegin",
                                OnSuccess = "OnSuccess",
                                OnFailure = "OnFailure" 
                            }, new
                            {
                                id = "myForm"
                            }))
                            {
                                @Html.Partial("_ContactForm");

                            }
                        </div>
                        <div class="col-md-5 col-md-push-1 animate-box">

                            <div class="gtco-contact-info">
                                <h3>Contact Information</h3>
                                <ul>
                                    <li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                                    <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                                    <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                                    <li class="url"><a href="http://GetTemplates.co">GetTemplates.co</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

