@{
    ViewBag.Title = "About";
}

<div class="gtco-loader"></div>

<div id="page">

    <div class="page-inner">
 

        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/images/img_bg_4.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                        <h1>Our <strong>Services</strong></h1>
                        <h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
                    </div>
                </div>
            </div>
        </header>
        <div class="flex-section gtco-gray-bg">
            <div class="col-1">
                <div class="text">
                    <div class="row row-pb-sm">
                        <div class="col-md-12">
                            <h2>Web Analytics</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusamus, fugiat ut! Ducimus accusamus, quos. Esse ea iste, expedita atque quod quo maxime, saepe! Architecto unde aliquid atque excepturi dolores dolore fugit rem recusandae amet a, molestiae et! Dolore, laborum?</p>
                            <p>Quaerat quisquam quasi minima at molestias porro accusantium qui atque doloremque ab, odio tempora obcaecati cumque veritatis quo, assumenda nihil dolor optio enim fugit accusamus laborum. Autem neque dignissimos, corrupti, fugiat labore nisi illo, delectus, alias natus optio distinctio culpa!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 flex-img" style="background-image: url(/images/img_1.jpg);"></div>
        </div>


        <div class="flex-section reverse">
            <div class="col-1">
                <div class="text">
                    <div class="row row-pb-sm">
                        <div class="col-md-12">
                            <h2>Web Development</h2>
                            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusamus, fugiat ut! Ducimus accusamus, quos. Esse ea iste, expedita atque quod quo maxime, saepe! Architecto unde aliquid atque excepturi dolores dolore fugit rem recusandae amet a, molestiae et! Dolore, laborum?</p>
                            <p>Quaerat quisquam quasi minima at molestias porro accusantium qui atque doloremque ab, odio tempora obcaecati cumque veritatis quo, assumenda nihil dolor optio enim fugit accusamus laborum. Autem neque dignissimos, corrupti, fugiat labore nisi illo, delectus, alias natus optio distinctio culpa!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-2 flex-img" style="background-image: url(/images/img_bg_2.jpg);"></div>
        </div>

        <div class="flex-section gtco-gray-bg">
            <div class="col-1">
                <div class="text">
                    <div class="row row-pb-sm">
                        <div class="col-md-12">
                            <h2>Branding &amp; Identity</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusamus, fugiat ut! Ducimus accusamus, quos. Esse ea iste, expedita atque quod quo maxime, saepe! Architecto unde aliquid atque excepturi dolores dolore fugit rem recusandae amet a, molestiae et! Dolore, laborum?</p>
                            <p>Quaerat quisquam quasi minima at molestias porro accusantium qui atque doloremque ab, odio tempora obcaecati cumque veritatis quo, assumenda nihil dolor optio enim fugit accusamus laborum. Autem neque dignissimos, corrupti, fugiat labore nisi illo, delectus, alias natus optio distinctio culpa!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 flex-img" style="background-image: url(/images/img_1.jpg);"></div>
        </div>
        <div class="flex-section reverse">
            <div class="col-1">
                <div class="text">
                    <div class="row row-pb-sm">
                        <div class="col-md-12">
                            <h2>Web Development</h2>
                            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusamus, fugiat ut! Ducimus accusamus, quos. Esse ea iste, expedita atque quod quo maxime, saepe! Architecto unde aliquid atque excepturi dolores dolore fugit rem recusandae amet a, molestiae et! Dolore, laborum?</p>
                            <p>Quaerat quisquam quasi minima at molestias porro accusantium qui atque doloremque ab, odio tempora obcaecati cumque veritatis quo, assumenda nihil dolor optio enim fugit accusamus laborum. Autem neque dignissimos, corrupti, fugiat labore nisi illo, delectus, alias natus optio distinctio culpa!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="check-li">
                                <li>Quaerat quisquam quasi</li>
                                <li>Accusantium qui atque doloremque</li>
                                <li>Expedita atque quod</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-2 flex-img" style="background-image: url(/images/img_bg_2.jpg);"></div>
        </div>


        <div class="gtco-cover gtco-cover-sm" style="background-image: url(/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <h1>We have high quality services that you will surely love!</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
